/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Styles généraux */
body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0F1F;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #131A2A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1E2A46;
    padding-bottom: 10px;
}

.header .info img {
    width: 100px;
}

.image-invocateur {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #007BFF;
}

.header .info {
    flex-grow: 1;
}

.info h1 {
    font-size: 24px;
    margin: 0;
    color: #4DA8DA;
}

.info p {
    margin: 5px 0;
    font-size: 14px;
    color: #B0C4DE;
}

.history {
    background: #0F172A;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.match {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: #1E293B;
    border-radius: 5px;
    margin-top: 10px;
}

.match img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.match .details {
    flex-grow: 1;
}

.details h2 {
    font-size: 18px;
    margin: 0;
    color: #4DA8DA;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
    color: #B0C4DE;
}

.victory {
    color: #1CC760;
    font-weight: bold;
}

.defeat {
    color: #E63946;
    font-weight: bold;
}

.adversaires div img {
    width: 30px !important;
    height: 30px !important;
}

.adversaires {
    display: flex;
    margin: auto;
}

.adversaires div {
    margin: auto;
    padding: 10px;
}

.items img {
    width: 30px;
    height: 30px;
}

.items {
    display: flex;
}

.acc-list {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.acc-list > div {
    background-color: #1E293B;
    padding: 10px;
}

.pseudo-list {
    color: white;
}